# Managed by Ansible.
[Journal]
Storage={{ journald_storage }}
Compress={{ 'yes' if journald_compress | bool else 'no' }}
{% if journald_system_max_use | length > 0 %}
SystemMaxUse={{ journald_system_max_use }}
{% endif %}
{% if journald_system_keep_free | length > 0 %}
SystemKeepFree={{ journald_system_keep_free }}
{% endif %}
{% if journald_system_max_file_size | length > 0 %}
SystemMaxFileSize={{ journald_system_max_file_size }}
{% endif %}
{% if journald_max_retention_sec | length > 0 %}
MaxRetentionSec={{ journald_max_retention_sec }}
{% endif %}
{% if journald_sync_interval_sec | length > 0 %}
SyncIntervalSec={{ journald_sync_interval_sec }}
{% endif %}
