[Desktop Entry]
Version=1.0
Type=Application
Name={{ freenove_case_app_name }}
Comment={{ freenove_case_app_comment }}
Exec=bash {{ freenove_case_install_dir }}/Code/run_app.sh
Icon={{ freenove_case_install_dir }}/Code/picture/xpm/{{ freenove_case_app_name }}.xpm
Terminal=true
Categories=Application;Development;
