APT::Periodic::Update-Package-Lists "{{ base_unattended_update_package_lists }}";
APT::Periodic::Unattended-Upgrade "{{ base_unattended_upgrade_enabled }}";
APT::Periodic::AutocleanInterval "{{ base_unattended_autoclean_interval }}";
