Unattended-Upgrade::Origins-Pattern {
{% for origin_pattern in base_unattended_origins_patterns %}
        "{{ origin_pattern }}";
{% endfor %}
};
Unattended-Upgrade::Automatic-Reboot "{{ base_unattended_automatic_reboot | ternary('true', 'false') }}";
Unattended-Upgrade::Automatic-Reboot-Time "{{ base_unattended_automatic_reboot_time }}";
Unattended-Upgrade::Remove-Unused-Dependencies "{{ base_unattended_remove_unused_dependencies | ternary('true', 'false') }}";
Unattended-Upgrade::Remove-New-Unused-Dependencies "{{ base_unattended_remove_new_unused_dependencies | ternary('true', 'false') }}";
{% if base_unattended_mail_to | length > 0 %}
Unattended-Upgrade::Mail "{{ base_unattended_mail_to }}";
Unattended-Upgrade::MailReport "{{ base_unattended_mail_report }}";
{% endif %}
