[Unit]
Description=Send PiServ shutdown notification email
DefaultDependencies=no
Wants=network-online.target
After=network-online.target
Before=shutdown.target
Conflicts=shutdown.target
ConditionPathExists={{ base_shutdown_notification_condition_path | replace('%', '%%') }}

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/usr/bin/test -f {{ base_shutdown_notification_condition_path | replace('%', '%%') | quote }}
ExecCondition=/usr/bin/test -s {{ base_shutdown_notification_condition_path | replace('%', '%%') | quote }}
ExecStart=/usr/bin/true
ExecStop={{ base_shutdown_notification_script_path | replace('%', '%%') | quote }}
TimeoutStopSec=45s

[Install]
WantedBy=multi-user.target
