[Unit]
Description=Send PiServ boot notification email
Wants=network-online.target
After=network-online.target
ConditionPathExists={{ base_reboot_notification_condition_path }}

[Service]
Type=oneshot
ExecCondition=/usr/bin/test -s {{ base_reboot_notification_condition_path | quote }}
ExecStart={{ base_reboot_notification_script_path }}

[Install]
WantedBy=multi-user.target
