# {{ base_ssh_dropin_comment }}
PermitRootLogin {{ base_ssh_permit_root_login }}
PasswordAuthentication {{ base_ssh_password_authentication }}
KbdInteractiveAuthentication {{ base_ssh_kbd_interactive_authentication }}
PubkeyAuthentication {{ base_ssh_pubkey_authentication }}
